
page-login {

  .loginBack {
    background-color: lightskyblue
  }
  .topImage {
    margin: auto;
    display: block;
    height: 160px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
  }
  .inputItem {
    width: 90%;
    display: block;
    margin: auto;
  }
  .logButton {
    background-color: white !important;
    color: black;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-left: 5px;
    font-size: 1.25em;
    opacity: .9;
    border-radius: 5px;
  }

  .buttonStyle {
    display: block;
    width: 90%;
    margin: auto;
  }
  img {
    max-width: 90%;
  }

}

