

<ion-content padding class="loginBack ">
  <div class="spacer" style="width:100%; height:2em;" id="login-spacer1"></div>

  <img class="topImage"  src='./assets/imgs/logo.jpg' />

  <div class="spacer" style="width:100%; height:10%;" id="login-spacer1"></div>

    <ion-list id="login-list1" class="inputItem"  no-lines>
      <ion-item id="login-input1">
        <ion-input type="email" placeholder="Email" class="logButton" [(ngModel)]="email"></ion-input>
      </ion-item>

<div class="spacer" style="width:300px; height:0.5em" id="login-spacer1"></div>

      <ion-item id="login-input2">
        <ion-input type="password" placeholder="Password" class="logButton" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width:100%; height:10%;" id="login-spacer1"></div>
    <button id="login-button1" ion-button color="secondary" class="buttonStyle" large (click)="goToLogin()">
      Sign in

    </button>

    <div class="spacer" style="width:300px; height:1%" id="login-spacer1"></div>

    <button id="login-button2" color="primary" class="buttonStyle"  ion-button large  on-click="goToCreateAccount()">
      Create Account
    </button>

    <div class="spacer" style="width:300px; height:2%" id="login-spacer1"></div>
</ion-content>
