<ion-header>
  <ion-navbar [hideBackButton]="true" style="text-align: center;">
    <ion-title>
      Dashboard
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="dashboard">
  <img class="topImage" src='./assets/imgs/logo.jpg'/>

  <div class="spacer" style="width:100%; height:10%;"></div>
  <button ion-button large class="button" color="danger" *ngIf="user.fname == 'admin'" block
          style="border-radius:0px 0px 0px 0px;">
    Additional Charges
  </button>
  <button (click)="monthlyPayment()" ion-button color="secondary" block *ngIf="user.fname != 'admin'">
    Pay Monthly Service
  </button>
  <button ion-button (click)="paymentHistory()" color="primary" block *ngIf="user.fname != 'admin'">
    Payment History
  </button>
  <button (click)="gotocard()" ion-button color="primary" block *ngIf="user.fname != 'admin'">
    Add Card
  </button>


</ion-content>
