page-dashboard {
  .textarea {
    height: 100px !important;
  }
;
  .dashboard {
    background-color: skyblue;
  }
;
  .topImage {
    margin: auto;
    display: block;
    height: 30%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
  }
;
  .item {
    margin: 0px;
    // padding-left: 5px;
    border-bottom-style: solid;
    border-bottom-color: color($colors, primary, base);
    border-bottom-width: 1px;
  }
;
  .noGap {
    margin: 0px;
    padding: 0px;
  }
;
  .input {
    margin: 0px;
    padding: 0px;
    // background-color: red;
    // font-size: x-small;
    // height:.5em;
  }

  .button {
    font-size: 20px;
    height: 3em;
    margin-top: .5em;
  }
}
