<!--
  Generated template for the MakePaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pay Monthly Service</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content" padding>
  <div class="page-content">
    <p *ngIf="!card" style="color: red">This account did not setup card yet!</p>
    <p>
      <span style="font-weight: bolder">Name:</span> <span>{{user.fname}}</span>
    </p>
    <p>
      <span style="font-weight: bolder">Service Month:</span>
      <span >{{serviceMonth}}</span>
    </p>
    <p>
      <span style="font-weight: bolder">Monthly Fee:</span> <span>{{user.monthlyrate}}</span>
    </p>
    <p>
      <span style="font-weight: bolder">Additional Charges:</span> <span>${{user.additionalCharges}}</span>
    </p>
    <p>
      <span style="font-weight: bolder">Total Charges:</span> <span>${{user.totalCharges}}</span>
    </p>
    <div class="spacer" style="width:100%; height:1em;" id="login-spacer1"></div>


    <p>
      <span style="font-weight: bolder">Payment Date:</span> <span>{{lastCharge.created | date}}</span>
    </p>
    <p>
      <span style="font-weight: bolder">Credit Card:</span> <span>****</span><span *ngIf="card">{{card.last4}}</span>
    </p>

    <ion-item id="create-account-input3">
      <ion-label fixed>Expires:</ion-label>
      <ion-datetime placeholder="MM/YYYY" name="fdate" class='noGap' displayFormat="M/YYYY"
                    #datee="ngModel" [(ngModel)]="exp_date" min="2018" max="2030"></ion-datetime>
    </ion-item>
    <p style="color: red" *ngIf="error">{{error}}</p>

    <div class="spacer" style="width:100%; height:1em;" id="login-spacer1"></div>
    <button id="login-button1" ion-button color="secondary" full large (click)="processPayment()" [disabled]="!card">
      Submit Payment
    </button>

    <div class="spacer" style="width:300px; height:.2em"></div>

    <button color="primary" *ngIf="card" ion-button full large  on-click="goToSetupCard()">
      Use New Card
    </button>
    <button color="primary" *ngIf="!card"  ion-button full large  on-click="goToSetupCard()">
      Add Card
    </button>
  </div>



</ion-content>
