page-make-payment {
  .content{
    background-color: skyblue;
  }
  .page-content {
    padding: 10%;
    font-size: 1.3rem;
  }
  .item-md {
    //background: none;
    padding-left: 0px;
    padding-right: 0;

    font-size: 1.3rem;
    font-weight: bolder;

  }
  .item-input .label-md {
    color: #000;
  }
  .item-md.item-block .item-inner {
    border-bottom: 0;
  }
  .text-input-md {
    margin: 6px 8px;
  }
  ion-input{
    background-color: white;
  }
  .item-datetime .label-md {
    color: #111;
  }
  .picker-ios .picker-wrapper {
    height: 442px !important;
  }
}
