page-payment-history {
  .content{
    background-color: skyblue;
  }
  .page-content {
    padding: 8%;
    font-size: 1.2rem;
  }

  .header {
    color: #f4f4f4;
    background-color: #09527f !important;

  }
  .row {
    background-color: #58b55d;
  }

  .col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
  }

  .col:last-child {
    border-right: solid 1px grey;
  }

  .row:last-child .col {
    border-bottom: solid 1px grey;
  }
}
