<!--
  Generated template for the PaymentHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Payment History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid class="page-content">
    <ion-row class="header" color="primary">
      <ion-col>
        Date
      </ion-col>
      <ion-col>
        Amount
      </ion-col>
      <ion-col>
        Status
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let charge of charges">
      <ion-col>
        {{charge.created | date}}
      </ion-col>
      <ion-col>
        {{charge.amount}}
      </ion-col>
      <ion-col>
        {{charge.status}}
      </ion-col>
    </ion-row>
    <div class="spacer" style="width:100%; height:1em;" id="login-spacer1"></div>
    <button id="login-button1" (click)="openDashboard()" ion-button block color="primary">
      Done
    </button>
  </ion-grid>



</ion-content>
