<!--
  Generated template for the SetupCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Setup Card</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card no-padding style="border-radius:5px;">
    <ion-card-content class="noGap">
      <form #form="ngForm" name="form" novalidate>

        <ion-list id="create-account-list2" class='noGap'>
          <ion-item id="create-account-input1" class='item'>
            <ion-input type="email" name="femail" class='input' placeholder="email"
                       [(ngModel)]="card.email"></ion-input>
          </ion-item>
          <ion-item id="create-account-input2">
            <ion-input type="text" name="cardnum" #cardnum="ngModel" class='input' (ionChange)="handleCardChange()"
                       placeholder="Card Number" [(ngModel)]="card.number"
                       minlength="19" maxlength="19" required></ion-input>
          </ion-item>
          <div class="required-input" *ngIf="cardnum.errors && (cardnum.touched || submitted)">
            <div *ngIf="cardnum.hasError('minlength')"
                 class="required-input">
              Invalid card number!
            </div>
            <div *ngIf="cardnum.hasError('required')"
                 class="required-input">
              Card number is required!
            </div>
          </div>
          <ion-item id="create-account-input3">
            <ion-datetime placeholder="MM/YYYY" name="fdate" class='noGap' displayFormat="M/YYYY"
                          #datee="ngModel" [(ngModel)]="card.date" min="2018" max="2030"></ion-datetime>
          </ion-item>
          <div class="required-input" *ngIf="datee.errors && (datee.touched || submitted)">
            <div *ngIf="datee.hasError('required')"
                 class="required-input">
              Expiry date is required!
            </div>
          </div>
          <ion-item id="create-account-input4">
            <ion-input type="number" name="phone" class='noGap' placeholder="CVC" #cvc="ngModel"
                       [(ngModel)]="card.cvc"></ion-input>
          </ion-item>
          <div class="required-input" *ngIf="cvc.errors && (cvc.touched || submitted)">
            <div *ngIf="cvc.hasError('required')"
                 class="required-input">
              CVC is required!
            </div>
          </div>
        </ion-list>
        <button id="create-account-button5" ion-button large color="secondary" block
                style="border-radius:0px 0px 0px 0px;" (click)="savecard(form)">
          save card
        </button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
