<ion-header>
  <ion-navbar [hideBackButton]="true" style="text-align: center;">
    <ion-title>
     Create Account
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class = "createAccount">
  <div class="spacer" style="width:100%; height:1em;" id="login-spacer1"></div>
  <img class="topImage"  src='./assets/imgs/icon.png' />
  <div class="spacer" style="width:100%; height:1em;" id="login-spacer1"></div>
  
  <ion-card no-padding style="border-radius:5px;" >
    <ion-card-content class="noGap">
      <ion-list id="create-account-list2" class='noGap'>
        <ion-item id="create-account-input1" class='item'>
          <ion-input type="text" name="fname" class='input' placeholder="First Name" [(ngModel)]="user.fname"></ion-input>
        </ion-item>
        <ion-item id="create-account-input2">
          <ion-input type="text" name="lname" class='input' placeholder="Last Name" [(ngModel)]="user.lname"></ion-input>
        </ion-item>
        <ion-item id="create-account-input3">
          <ion-input type="tel" name="phone" class='noGap' placeholder="Phone" [(ngModel)]="user.phone"></ion-input>          
        </ion-item>
        <ion-item id="create-account-input4">
          <ion-input type="tel" name="phone" class='noGap' placeholder="Monthly Fee" [(ngModel)]="user.monthlyrate"></ion-input>            
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card color="light" style="border-radius:5px;" >
    <ion-list id="create-account-list3">
      <ion-item id="signupUser-input38">
        <ion-input type="email" name="email" placeholder="Email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item id="signupUser-input39">
        <ion-input type="password" name="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <ion-item id="signupUser-input40">
        <ion-input type="password" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>

  <div class="spacer" style="width:100%;height:2%;" id="login-spacer1"></div>
  
  <button id="create-account-button4" ion-button large color="primary" block icon-right style="border-radius:5px 5px 5px 5px;" on-click="goToSignupBank()">
    Continue
  </button>
  <button id="create-account-button5" ion-button large color="secondary" block style="border-radius:0px 0px 0px 0px;" on-click="goToLogin()">
    Already Have Account?
  </button>
  <div class="spacer" style="width:300px;height:2%;" id="welcome-spacer2"></div>
  
  <p padding style="text-align:center;">By signing up, you agree with the Terms of Service and Privacy Policy</p>
  
  
</ion-content>